*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.controlpannel {
    position: absolute;
    display: flex;
    top: 25vh;
    left: 2vw;
    /* height: 50vh;
    width: 6vw; */
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;

}
button {
    /* position: relative; */
    margin: 10px;
    padding: 10px 10px;
    height: 40px;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 62px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 15px royalblue;
    background: #8787e6;
    color: black;
    cursor: pointer;
    font: 2px'consolas';
    transition: transfom 100px ease;
    font-size: 100%;
    z-index: 2;
}
#canvas{
    position: relative;
    border:2px solid red; 
    background-color: white ;
    /* z-index: -1; */
    /* cursor:crosshair; */
}
button:active{
    transform: scale(0.95);
}

